		/* mode 2 */
		a.mode2_btn_sac { background:url(../images/keyboard_vietnamese/sprite_sheet.png) 0px -90px no-repeat; margin: 1px 2px 0 1px;	} 
		a.mode2_btn_sac:hover { background-position: 0px -60px; }
		a.mode2_btn_sac:active { background-position: 0px -30px; }
		
		a.mode2_btn_huyen { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -30px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode2_btn_huyen:hover { background-position: -30px -60px; }
		a.mode2_btn_huyen:active { background-position: -30px -30px; }
		
		a.mode2_btn_hoi { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -60px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode2_btn_hoi:hover { background-position: -60px -60px; }
		a.mode2_btn_hoi:active { background-position: -60px -30px; }
		
		a.mode2_btn_nga { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -90px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode2_btn_nga:hover { background-position: -90px -60px; }
		a.mode2_btn_nga:active { background-position: -90px -30px; }
		
		a.mode2_btn_nang { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -120px -90px no-repeat; margin: 1px 1px 0 0; } 
		a.mode2_btn_nang:hover { background-position: -120px -60px; }
		a.mode2_btn_nang:active { background-position: -120px -30px; }
		
		/* mode 3 */
		a.mode3_btn_sac { background:url(../images/keyboard_vietnamese/sprite_sheet.png) 0px -90px no-repeat; margin: 1px 2px 0 1px;	} 
		a.mode3_btn_sac:hover { background-position: 0px -60px; }
		a.mode3_btn_sac:active { background-position: 0px -30px; }
		
		a.mode3_btn_huyen { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -30px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_huyen:hover { background-position: -30px -60px; }
		a.mode3_btn_huyen:active { background-position: -30px -30px; }
		
		a.mode3_btn_hoi { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -60px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_hoi:hover { background-position: -60px -60px; }
		a.mode3_btn_hoi:active { background-position: -60px -30px; }
		
		a.mode3_btn_nga { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -90px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_nga:hover { background-position: -90px -60px; }
		a.mode3_btn_nga:active { background-position: -90px -30px; }
		
		a.mode3_btn_nang { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -120px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_nang:hover { background-position: -120px -60px; }
		a.mode3_btn_nang:active { background-position: -120px -30px; }
		
		a.mode3_btn_mu { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -150px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_mu:hover { background-position: -150px -60px; }
		a.mode3_btn_mu:active { background-position: -150px -30px; }
		
		a.mode3_btn_ngoac { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -180px -90px no-repeat; margin: 1px 2px 0 0; } 
		a.mode3_btn_ngoac:hover { background-position: -180px -60px; }
		a.mode3_btn_ngoac:active { background-position: -180px -30px; }
		
		a.mode3_btn_a { background:url(../images/keyboard_vietnamese/sprite_sheet.png) -210px -90px no-repeat; margin: 1px 1px 0 0; } 
		a.mode3_btn_a:hover { background-position: -210px -60px; }
		a.mode3_btn_a:active { background-position: -210px -30px; }
