<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jon.mypoll"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.jon.mypoll.PollCodeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.jon.mypoll.Option2"></activity>
        <activity android:name="com.jon.mypoll.Option3"></activity>
        <activity android:name="com.jon.mypoll.Option1"></activity>
        <activity android:name="com.jon.mypoll.Option4"></activity>
        <activity android:name="com.jon.mypoll.PollStats"></activity>
        <activity android:name="com.jon.mypoll.ChartPresentation"></activity>
        <activity android:name="org.achartengine.GraphicalActivity"></activity>
        
        
    </application>

</manifest>
